:root {
    /* Main */
    --primary: #F9FaF8;
    --primary-alt: #808080;
    --secondary: #1F2937;
    
    /* Accent */
    --accent: #6495ed;
    --accent-alt: #4673c8;
}

body {
    /* Flexbox */
    display: flex;
    flex-direction: column;
 
    /* Removing Default Margin */
    margin: 0;

    /* Typography */
    font-family: 'Roboto', sans-serif;

    /* Colouring */
    background-color: var(--primary);
}

/* Header Section Styles */
.header {
    /* Flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* Colouring */
    background-color: var(--secondary);
    
    /* Dimensions */
    padding: 128px 0;

    /* Alignment */
    text-align: center;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: var(--primary);
    margin: 0;
}

.description {
    font-size: 18px;
    color: var(--primary);
    margin: 8px 0;
}

/* Main Section Styles */
.main {
    display: flex;
    flex-direction: column;

    text-align: center;
}

.subheading {
    font-size: 36px;
    font-weight: bolder;
    color: var(--secondary);
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-bottom: 64px;
    flex-wrap: wrap;
}

.card {
    user-select: none;
    text-decoration: none;
}

.card * {
    transition: all 50ms linear;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-icon {
    width: 512px;
    aspect-ratio: 16 / 9;

    border: 1px solid black;
}

.card:hover {
    cursor: pointer;
}

.card:hover .description {
    color: var(--secondary);
}

.description.dark {
    color: var(--primary-alt);
}